body {
  /* 9i48B5yGT.gif */
  background-image: url(/images/9i48B5yGT.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /* margin: 100px auto; */
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding: 30px;
  line-height: 2.5;
  text-align: center;
}


/*********** NAVBAR ***********/

.navbar {
  background-color: #1c1b1b!important;
}

a {
  /* font-family: 'Zen Dots', cursive; */
  font-family: 'Orbitron', sans-serif;
}

.text-light {
  color: #007bff!important;
}


/*********** PANTALLA HOME ***********/

.img {
  max-width: 100%!important;
  width: 100%!important;
}

h1 {
  color: #38ff20;
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Press Start 2P', cursive;
  font-size: 7vw;
}

@media (max-width:320px) {
  .img {
      margin-left: -19px!important;
  }
}


/*********** TABLA  USUARIOS ***********/

table {
  background-color: #1c1b1b;
  color: #38ff206b!important;
  border: 2px solid !important;
  width: 100%;
  margin-bottom: 10px;
}

th {
  font-family: 'Press Start 2P', cursive;
  color: #38ff20;
  font-weight: lighter;
  border-bottom: solid 2px #38ff206b;
  border-left: solid 1px #38ff206b;
  background-color: #151414;
  padding: 12px;
}

td {
  font-family: 'Orbitron', sans-serif;
  color: #55ab53;
  border: solid 1px;
  border-color: #38ff206b;
  padding: 12px;
}

.tablaUsuarios {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 10px;
}

h2 {
  font-size: 2vw;
  color: #38ff20;
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 10px;
}


/* SCROLL - Tabla usuarios*/

.tablaUsuarios {
  overflow-y: auto;
  height: 330px;
}

.tablaUsuarios thead th {
  position: sticky;
  top: 0;
}

.tablaUsuarios::-webkit-scrollbar {
  width: 8px;
}

.tablaUsuarios::-webkit-scrollbar-thumb {
  background: #38ff206b;
  border-radius: 5px;
}

.but {
  color: #007bff;
  border-color: #007bff;
  font-family: 'Orbitron', sans-serif;
  border-radius: 7px!important;
  cursor: pointer !important;
  box-shadow: 0px 0px 3px 1px #0000009e;
  background-color: transparent;
  margin-inline: 5px;
}

.but:hover {
  color: #38ff20;
  background-color: transparent;
  border-color: #38ff20;
}


/* MEDIA QUERYS - Tabla usuarios */

@media (max-width:991px) {
  .tablaUsuarios {
      margin-left: -3px;
      margin-right: -3px;
      font-size: 2vw;
  }
}

@media (max-width:991px) {
  h2 {
      font-size: 3vw;
  }
}

@media (max-width:991px) {
  .but {
      margin-top: 5px;
  }
}


/* ESTO PROBAR NO ME ACUERDO POR QUE LO HICE */


/* @media (max-width:320px) {
.tablaUsuarios{
  margin-left: -10px;
    overflow: unset;
}
} */


/*********** VENTANA DE DIALOGO - REGISTRAR USUARIO ***********/

.ui-dialog-content {
  background-color: #1c1b1b!important;
  color: #007bff;
  /* border-color: #007bff!important; */
  font-family: 'Orbitron', sans-serif;
  /* border-radius: 2px; */
  padding: 5px;
  margin-left: -30px;
  margin-right: -30px;
}

input {
  line-height: normal;
  /* line:center; */
  background-color: transparent;
  border-color: #007bff;
  color: #55ab53;
  margin-bottom: .8rem;
}

.ui-dialog-titlebar,
.ui-dialog-buttonset {
  background-color: #1c1b1b!important;
  color: #007bff;
  font-family: 'Orbitron', sans-serif;
  margin-left: -30px;
  margin-right: -30px;
}

.ui-button {
  color: #007bff;
  border-color: #007bff;
  font-family: 'Orbitron', sans-serif;
  background-color: transparent;
  border-radius: 7px!important;
  cursor: pointer !important;
  box-shadow: 0px 0px 3px 1px #0000009e;
}

.ui-dialog-title {
  padding: 45px;
}

.ui-button:hover {
  color: #38ff20!important;
  background-color: transparent!important;
  border-color: #38ff20!important;
}

.ui-dialog-buttonset {
  height: 70px;
}


/* MEDIA QUERYS - Ventana dialogo - Registrar usuario */


/* escritorio - no lo uso (lo dejo de ejemplo)*/

@media screen and (min-width:1024px) {}


/* tablet */

@media screen and (min-width:768px) and (max-width:1023px) {
  .ui-dialog-content {
      /* background-color: aqua!important; */
      margin-left: -85px;
      margin-right: -7px;
  }
  .ui-dialog-titlebar {
      margin-left: -87px;
      margin-right: -9px;
      /* background-color: rgb(72, 108, 185)!important; */
  }
  .ui-dialog-buttonset {
      /* background-color: rgb(63, 47, 107)!important; */
      margin-left: -86px;
      margin-right: -9px;
  }
}


/* smartphone */

@media screen and (max-width:767px) {
  .ui-dialog-titlebar {
      margin-left: -60px;
      margin-right: 7px;
      /* background-color: rgb(185, 72, 101)!important; */
  }
  .ui-dialog-content {
      /* background-color: brown!important; */
      margin-left: -59px;
      margin-right: 7px;
  }
  .ui-dialog-buttonset {
      /* background-color: rgb(107, 76, 47)!important; */
      margin-left: -59px;
      margin-right: 7px;
  }
}


/* ESTO LO DEBO HABER HECHO PARA LOS BOTONES DE BUSCAR */


/* 
@media (max-width:991px) {
.ui-dialog-buttonset {
    font-size: 3vw;
    margin-left: -80px;
/* margin-right: -30px;
margin-top: 30px;
   */


/* }
} */


/* @media (max-width:991px) {
.ui-dialog-titlebar {
    font-size: 3vw;
    margin-left: -80px;
    margin-right: -30px;
    background-color: cyan;
/* margin-top: 30px; */


/* }
} */


/*********** JUEGO ***********/

label {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
}

div .idScore {
  font-size: 2vw;
  color: #38ff20;
  font-family: 'Press Start 2P', cursive;
  width: auto!important;
}

div .userId {
  font-size: 2vw;
  color: #38ff20;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: -20px;
  width: auto!important;
}

main {
  display: grid;
  grid-template: 1fr 300px/1fr 1fr 1fr;
  grid-template-areas: ". score ."". tablero .";
  padding-left: 65px;
}

main #container1 {
  background-color: transparent;
  grid-area: tablero;
  display: grid;
  grid-template: repeat(15, 20px)/repeat(17, 20px);
}

main #container1 .casillero {
  width: 20px;
  height: 20px;
  font-size: 10px;
  text-align: center;
}

main #container1 .casillero:nth-child(odd) {
  background-color: #fbff00;
  color: transparent;
}

main #container1 .casillero:nth-child(even) {
  background-color: rgb(0, 0, 0);
  color: transparent;
}

main #container1 .casillero.headSnake {
  background-color: rgb(55, 223, 13);
}

main #container1 .casillero.bodySnake {
  background-color: rgba(86, 184, 21, 0.918);
}

main #container1 .casillero.food {
  background-image: url(../images/manzana.png);
  background-size: 20px 20px;
}


/* MEDIA QUERYS - Juego */


/* smartphone */

@media screen and (max-width:767px) {
  div .idScore {
      font-size: 20px;
  }
  div .userId {
      font-size: 20px;
  }
  main #container1 {
      margin-left: -95px;
  }
}


/*********** FOOTER ***********/

.footer-dark {
  padding: 50px 0;
  color: #047bff;
  background-color: #1c1b1b;
  line-height: 1.9;
  margin-top: 185px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
  margin-top: 23px;
}

.footer-dark .item.social> a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgb(10 101 202);
  margin: 0 8px;
  color: #047bff;
  opacity: 0.75;
}

.footer-dark .item.social> a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.footer-dark p {
  font-family: 'Orbitron', sans-serif;
}


/* MEDIA QUERYS - Footer */

@media (max-width:991px) {
  .footer-dark .item.social {
      text-align: center;
      margin-top: 20px;
  }
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
      text-align: center;
      padding-bottom: 20px;
  }
}

@media (max-width:767px) {
  .footer-dark .item.text {
      margin-bottom: 0;
  }
}


/*********** RANKING ***********/

.lista2 .list-it li {
  /* display:inline-block; */
  list-style-type: none;
}

.list-it {
  padding: .75rem 1.25rem;
  background-color: #1c1b1b!important;
  border: 1px solid #38ff206b;
  font-family: 'Orbitron', sans-serif;
  color: #05e200;
  margin-left: 250px;
  margin-right: 250px;
  overflow: auto;
}

.list-it li {
  float: left;
  /* list-style-type: none;
text-align: left;
justify-content: flex-end;
display: flex; */
  /* display: flex; */
  margin-right: 100px;
  /* padding: .75rem 1.25rem; */
  /* display: inline; */
  /* margin-right: 250px;
margin-right: 250px; */
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.list-it span {
  /* float: right; */
  /* text-align:right; */
  /* flex: 1; */
  display: flex;
  /* display: inline; */
  /* padding: .75rem 1.25rem; */
  /* justify-content: space-between!important; */
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  margin-left: 500px;
}


/* SCROLL - Ranking*/

.list-it::-webkit-scrollbar {
  width: 7px;
}

.list-it::-webkit-scrollbar-thumb {
  background: #38ff206b;
  border-radius: 5px;
}


/* MEDIA QUERYS - Ranking */


/* escritorio - no lo uso (lo dejo de ejemplo)*/


/* @media screen and (min-width:1024px) {

} */


/* tablet */

@media screen and (min-width:768px) and (max-width:1023px) {
  .lista2 .list-it {
      margin-left: -3px;
      margin-right: -3px;
      padding-left: 10px;
  }
  .list-it li {
      margin-right: 30px
  }
  .list-it span {
      margin-left: 355px;
      /* background-color: #ab5353; */
  }
}

/* smartphone */

@media screen and (max-width:767px) {
  .lista2 .list-it {
      margin-left: -3px;
      margin-right: -3px;
      padding-left: 10px;
  }
  .list-it li {
      font-size: 3vw;
      margin-right: 30px
  }
  .list-it span {
      font-size: 3vw;
      margin-left: 211px;
      /* background-color: #8353ab */
  }
}

/* smartphone mas pequeños */

@media screen and (max-width:425px) {
  .list-it span {
      margin-left: 124px;
      /* background-color: #5363ab */
  }
}
/* VENTANA SWAL */
.swal2-center>.swal2-popup {
  background-color: #1c1b1b!important;
}

.swal2-popup.swal2-toast .swal2-title {
background-color: #1c1b1b!important;
}

.swal2-shown .swal2-title {
  font-family: 'Orbitron', sans-serif;
  /* color: #05e200!important; */
  font-weight: unset;
  color: #ffb1b1!important;
}

/* VENTANA LOGIN */

.log_campos{
  border: 1px solid #ff5100;
  font-family: 'Orbitron', sans-serif;
  /* color: #05e200; */
  color: #ff5100;
  margin-left: 250px;
  margin-right: 250px;
  padding: 30px;
}

.log_campos > label{
  margin-left: 20px;
  margin-top: 10px;
}

.log_campos > input {
  margin-right: 20px;
  margin-top: 17px;
  border: 1px solid #ff5100;
}
.section_login > label {
  color: #ff5100;
  float: inherit;
  font-family: 'Orbitron', sans-serif;
  display: inline;
}

.a_but {
  text-decoration: none!important;
  color: #ff5100!important;
}

.a_but:hover {
   color: #38ff20!important;
  background-color: transparent!important;
  border-color: #38ff20!important;
}
.but_log  {
  color: #ff5100;
  border-color: #ff5100;
  font-family: 'Orbitron', sans-serif;
  border-radius: 7px!important;
  cursor: pointer !important;
  box-shadow: 0px 0px 3px 1px #0000009e;
  background-color: transparent;
  margin-inline: 5px;
  margin-top: 15px;
}

.but_log:hover {
  color: #38ff20;
  background-color: transparent;
  border-color: #38ff20;
}
